* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	line-height: 1;
    list-style : none;
}
body {
    background-color: #f5f5dc;
    width: 80vw;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.container {
    margin: 20px;
}

.title p {
    line-height: 30px;
}

.title p:first-child{
    font-weight: 700;
}

.code {
    border: 1px solid black;
    background-color: #eee;
    margin-top: 5px;
    width: 30%;
    padding: 15px;
    display: none;
}

#toggleCode {
    width: 30%;
    color: #0000ff;
}

@media screen and (max-width:768px) {
    .code {
        width: 85%;
    }
    #toggleCode {
        width: 60%;
    }
}

.padding {
    padding: 10px;
}

.style{
    line-height: 25px;
}

.question2 .title {
    margin-top: 15px;
}

.question2 .title p span {
    background-color: rgba(31,31,107,0.1);
    padding: 2px;
}

.floatSample {
    margin: 15px 0px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.floatBox {
    width: 200px;
    height: 200px;
    background-color: #e0e094;
    padding: 20px;
    margin: 10px;
    border-radius: 50%;
    float: right;
    position: relative;
}

.floatBox::before {
    content: 'float: right';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 45%;
    bottom: 0;
    right: 0;
    left: 34%;
}

.floatBox2 {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.floatBox3 {
    position: absolute;
    top: 60%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
}



.floatBox:hover {
    background-color: #00ff00;
}

.videoBox {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.videoBox iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section {
    height: 100vh;
}

section div {
    width: 300px;
    height: 300px;
    background-color: #0000ff;
}

.one {
    background-color: #00ff00;
    position: relative;
}

.one div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.two {
    background-color: #ff0000;
    position: relative;
}

.two div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
}

.three {
    background-color: #00f0ff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}









